html {
    box-sizing: border-box;
  }

#container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px black solid;
    margin: auto;
    width: 12em;
    border-top: 0.4em inset rgba(128,128,128, .5);
    border-right: 0.4em inset rgba(128,128,128, .5);
    border-left: 0.4em inset rgba(128,128,128, .5);
    border-bottom: 0.4em inset rgba(128,128,128, .5);
}


#display {
    text-align: right;  
    color: rgb(51, 255, 51);
    background-color: rgb(40, 40, 40);
    height: 5.5em;
    border: 0.2em solid rgba(128, 128, 128);
    font-family: 'Press Start 2P', cursive; 
    font-size: smaller;
}

#mainDisplay1, #mainDisplay2 {
    height: 2em;
    
}

.buttonGrid {
    display: grid;
    background-color: lightgray;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2em;
    padding: 0.2em;
    
}

button {
    height: 3em;
    width: 3em;
    cursor: pointer;
    color: white;
}

button:hover {
    opacity: 50%;
}

.numberButtons {
    background-color: black;
}

.operatorButtons {
    background-color: rgb(70, 70, 70);
}

.clearButton {
    background-color: rgb(51, 16, 0);
}

.equalsButton {
    background-color: rgb(145, 145, 145);
}


